<div class="boss-page-main__dashboard">
  <div class="boss-page-main__inner">
    <div class="boss-page-dashboard boss-page-dashboard_updated">
      <div class="boss-page-dashboard__group">
        <h1 class="boss-page-dashboard__title">
          <span class="boss-page-dashboard__title-text">Previously Submitted Change Orders for</span>
          <span class="boss-page-dashboard__title-text boss-page-dashboard__title-text_marked"><%= venue.name.titleize %></span>
        </h1>

        <div class="boss-page-dashboard__buttons-group">
          <%= link_to(
            'View Current Order',
            change_orders_path(venue_id: venue.id),
            class: 'boss-button boss-button_role_view-order boss-page-dashboard__button'
          ) %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="boss-page-main__content">
  <div class="boss-page-main__inner">
    <div class="boss-page-main__list">
      <% if change_orders.present? %>
        <%= render partial: 'shared/change_order_block', locals: { change_orders: change_orders } %>
      <% else %>
        <p class="boss-board__header boss-board__header_type_no-border">No previously submitted change orders exist</p>
      <% end %>
    </div>

    <%= render partial: 'shared/pagination_control_v2', locals: { relation: change_orders } %>
  </div>
</div>
