@import 'settings';

@mixin normalize-block($color: $boss-global-font-color, $cursor: auto) { // inheritable properties
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
  outline: 0;
  color: $color;
  text-decoration: none;
  cursor: $cursor;
  border-collapse: separate;
  border-spacing: 0;
  empty-cells: show;
  font-family: $boss-global-font-family;
  font-size: $boss-global-font-size;
  font-style: normal;
  font-variant: normal;
  font-weight: $boss-global-weight-normal;
  letter-spacing: normal;
  line-height: $boss-global-line-height;
  text-align: left;
  text-indent: 0;
  text-transform: none;
  white-space: normal;
  word-spacing: normal;
}

@mixin link-to-button($color) {
  color: $color;
  text-decoration: none;
  &:hover {
    color: $color;
  }
}

@mixin button-hover-behavior($background-color, $amount: 3%) {
  cursor: pointer;
  &:hover {
    background-color: lighten($background-color, $amount);
  }
}

@mixin content-block() {
  position: relative;
  padding: $boss-content-block-padding;
  background-color: white;
  border-bottom: 1px solid $boss-very-light-gray;
}

@mixin clear-fix() {
  content: "";
  display: table;
  clear: both;
}
