<%= bootstrap_form_for(invite, html: { class: 'invite-form' }) do |form| %>
  <%= form.select(
        :role,
        options_for_select(
          current_user.can_create_roles.map { |role| [role.titleize, role] },
          form.object.role
        ),
        {
          include_blank: true,
          label_class: 'required',
        },
        {
          class: 'invite-role-select'
        }) %>

  <div class="venue-select-section">
    <%= form.select(
          :venue_ids,
          options_for_select(
            Venue.all.map { |venue| [venue.name.titleize, venue.id] },
            form.object.venue_ids
          ),
          {
            label: 'Venues'
          },
          multiple: true,
          class: 'chosen-select'
        ) %>
  </div>

  <%= form.text_field(:email, label_class: 'required') %>
  <button type="submit" class="button">Submit</button>
<% end %>
