<p>
  Staff Member <%= staff_member.full_name.titlecase %> (id: <%= staff_member.id %>) was been re-enabled by <%= user_name %> on the boss system at <%= update_time.to_s(:human) %>.
</p>

<p>Attached is a PDF file of the staff member's details</p>
