{
  "presets": ["env", "stage-1", "react"],
  "plugins": [
    "transform-async-to-bluebird",
		"transform-promise-to-bluebird",
    "transform-decorators-legacy",
    "transform-runtime",
    [
      "babel-plugin-root-import",
      {
        "rootPathSuffix": "app/frontend"
      }
    ]
  ]
}
