.show-in-manager-mode {
    display: none !important;
    .managerMode & {
        display: block !important;
    }
}
.hide-in-manager-mode--inline-block {
    display: inline-block !important;
    .managerMode & {
        display: none !important;
    }
}