<header class="boss-page-header boss-page-header_adjust_security">
  <div class="boss-page-header__inner">
    <div class="boss-page-header__group boss-page-header__group_role_logo">
      <p class="boss-page-header__logo">JSM Bars</p>
    </div>
  </div>
</header>
<main class="boss-page-main">
  <div class="boss-page-main__content">
    <div class="boss-page-main__inner">
      <div class="boss-modal-window boss-modal-window_role_set">
        <div class="boss-modal-window__header">
        </div>
        <div class="boss-modal-window__content">
          <div class="boss-modal-window__form">
            <h2 class="boss-modal-window__title">Your password could not be reset at this time.</h2>
            <p>Please ask a manager for help.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
