<p>Hi <%= name %>. You need to validation your email address before you can use your Welcome to Liverpool card. You can do so using the link below</p>

<a href="<%= link_url %>">Verify My Email Address Now</a>

