@import 'settings';
@import 'mixins';

.boss3-add-avatar-block {
  @include normalize-block();
  display: flex;
  flex-direction: column;
  align-items: center;

  &__new-image-placeholder {
    width: 100%;
    height: 300px;
    margin-bottom: 10px;
    background: asset-url('load-image-placeholder.svg') center center no-repeat;
    background-size: 240px;
    cursor: pointer;
  }

  &__file-label {
    display: block;
    margin-top: 30px;
  }

  &_adjust {
    &_file-button {
    }

    &__label {
    }
  }
}
