@import 'settings';
@import 'mixins';

.boss3-info-fields-block {
  @include normalize-block();

  &__list-item {
    @include normalize-block();

    & + & {
      margin-top: 10px;
    }
  }

  &__field-name {
    display: inline-block;
    width: 120px;
    font-weight: 600;
  }

  &__field-value {

  }
  &__field-errors {
    @include normalize-block();

    display: block;
    margin-top: 3px;
    padding: 3px 9px;
    border-radius: $boss-global-border-radius;
    background-color: map-get($boss-app-palette, error-background);
  }

  &__field-error {
    @include normalize-block();

    display: block;
    color: white;
  }
}
