@import 'settings';
@import 'mixins';

.boss3-clock-buttons-block {
  @include normalize-block();

  &_adjust_button {
    &.boss3-clock-button {
      &_big {
        margin-right: 1em;
      }
      &_small {
        margin-bottom: 0.8em;
      }
    }
    &:last-child {
      margin: 0;
    }
  }
}
