@import 'settings';
@import 'mixins';

.boss3-edit-image-block {
  @include normalize-block();

  display: flex;
  align-items: center;

  &__cropper {
    width: 300px;
    height: 300px;
    margin-right: 40px;
  }

  &__preview-section {
    overflow: hidden;
    border-radius: 50%;
  }

  &_adjust {
    &_buttons-group {
      margin-bottom: 10px !important;
    }
  }
}
