@import 'settings';
@import 'mixins';

.boss3-fields-set {
  $padding: 20px;

  @include normalize-block();

  padding: $padding;
  border: 1px solid $boss-very-light-gray;

  &_adjust {
    &_header {
      $header-margin: -($padding + 1);
      margin: $header-margin $header-margin 0 $header-margin !important;
    }
    &_section-header {
      margin-top: 15px !important;
    }
    &_boss3-inputs-list {
      margin-top: 15px !important;
    }
  }

  &__header {
    @include normalize-block();

    padding: 12px 20px;
    display: block;
    color: white;
    background-color: map-get($boss-app-palette, item-background1);
    font-family: $boss-global-font-family;
    font-size: 14px;

    &_type {
      &_required {
        &:after {
          content: '*';
          margin-left: 2px;
        }
      }
    }
  }

  &__section-header {
    @include normalize-block();

    font-size: 14px;
  }
}
