@import 'settings';
@import 'mixins';

.boss3-form {
  @include normalize-block();

  &_role {
    &_enter_key {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
  }

  &_adjust {
    &_boss3-fields-set {
      margin-top: 40px !important;
    }
  }
}

.boss3-input {
  @at-root
  &[type=text],
  &[type=password],
  textarea#{&} {
    @include normalize-block();

    display: block;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid $boss-very-light-gray;
    padding: 13px 20px;
  }

  &_state {
    &_error {
      &[type=text], &[type=password] {
        border-color: map-get($boss-app-palette, alert-border);
        color: map-get($boss-app-palette, alert);
      }

      .Select-control {
        border-color: map-get($boss-app-palette, alert-border);
      }
    }
  }
}

select.boss3-input {
  margin-bottom: 0;
}

.boss3-inputs-list {
  @include normalize-block();

  & > li {
    @include normalize-block();
  }
}
