@import 'settings';
@import 'mixins';

.boss3-form-errors {
  @include normalize-block();

  display: block;
  padding: 9px 10px 9px 50px;
  border-radius: $boss-global-border-radius;
  background: map-get($boss-app-palette, error-background) asset-url('icon-danger-white') 14px center no-repeat;
  background-size: 20px auto;

  .boss3-input + & {
    margin-top: 10px;
  }

  &__error {
    @include normalize-block();

    display: block;
    color: white;
  }
}
