@import 'settings';
@import 'mixins';

.boss3-forms-block {
  @include normalize-block();
  @include content-block();

  &_adjust {
    &_buttons-group {
      margin: $boss-buttons-group-margin !important;
      text-align: center !important;
    }

    &_info-block {
      width: 50% !important;
      margin-bottom: 30px !important;
    }
  }
}

.boss3-info-block {
  @include normalize-block();

  display: inline-block;
  vertical-align: top;

  &_type {
    &_with-index {
      position: relative;
      padding-left: 45px;
    }
  }

  &__header {
    font-size: 16px;
    font-weight: 600;
  }

  &__index {
    $index-side-size: 30px;

    position: absolute;
    top: 0;
    left: 0;
    width: $index-side-size;
    height: $index-side-size;
    margin-bottom: 8px;
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
    color: white;
    line-height: $index-side-size;
    background-color: map-get($boss-app-palette, primary);
  }

  &__image {
    display: block;
    width: 150px;
    height: 150px;
  }

  &__error {
    color: map-get($boss-app-palette, error-text);
  }
}

.boss3-page-content {
  @include normalize-block();

  display: flex;
  flex-direction: column;
  align-items: stretch;

  padding: 25px $boss-root-side-padding 60px;

  &_type {
    &_with-additional-data {
      flex-direction: row;
      align-items: flex-start;
    }
  }

  &_adjust {
    &_paginator {
      margin-top: 20px !important;
    }
    &_user-info-block {
      min-width: 400px;
      margin-right: 30px !important;
    }
  }
}

.boss3-page-dashboard {
  @include normalize-block();

  padding: 30px $boss-root-side-padding 15px;
  background-color: white;

  &:after {
    @include clear-fix();
  }

  &_adjust {
    &_h2 {
      float: left;
      margin-bottom: 15px !important;
    }

    &_buttons-group {
      float: right;
    }

    &_dropdown-button {
      @include clear-fix();
    }
  }
}

.boss3-staff-members-list-block {
  @include normalize-block();
  @include content-block();

  padding-top: 120px;
}
