@import 'fonts';
@import 'settings';
@import 'mixins';

@import 'common-elements';
@import 'headers';
@import 'buttons';
@import 'form';
@import 'main-menu';
@import 'base-table';
@import 'paginator';
@import 'dropdown-button';
@import 'avatar';
@import 'color-picker';
@import 'info-table';
@import 'label';
@import 'main-content';
@import 'modal-window';
@import 'react-select';
@import 'header';
@import 'context-menu';

@import 'input-group';
@import 'page-wrapper';
@import 'filters-block';
@import 'simple-blocks';
@import 'clock-in-out-block';
@import 'steps-block';
@import 'user-info-block';
@import 'user-hours-info-block';
@import 'staff-members-list';
@import 'chart-with-notes-block';
@import 'from-to-block';
@import 'fields-set';
@import 'form-errors';
@import 'info-fields-block';
@import 'add-avatar-block';
@import 'edit-image-block';

.boss3-hidden {
  display: none;
}

.boss3-html {
  @include normalize-block();

  padding: 0;
}

.boss3-body {
  @include normalize-block();

  margin: 0;
  background-color: map-get($boss-app-palette, body-background);
  color: $boss-dark-gray;
}
