@import "staff-finder/staff-list-item";
@import "staff-finder/staff-finder";
@import "rota-chart/staff-details-and-shifts";
@import "staff-type-dropdown";
@import "staff-shift-list";
@import "chart-and-filter";
@import "shift-time-input";

body {
    color: #333;
}

#app .well {
    background: #fafafa;
}

#rota-chart {
    rect {
        fill: steelblue;
    }

    text {
        fill: black;
        font: 10px sans-serif;
        text-anchor: end;
    }

    .axis path,
    .axis line {
        fill: none;
        stroke: black;
        shape-rendering: crispEdges;
    }

    .tick line {
        stroke: #ddd;
    }

    .rota-chart__shift rect {
        cursor: pointer;
    }

    .rota-chart__previewed-staff {
        rect {
            fill: #777 !important;
        }
        text {
            fill: white;
        }
    }
    .rota-chart__selected-staff {
        rect {
            fill: black !important;
        }
        text {
            fill: white;
        }
    }

    .rota-chart__shift-label {
        text-anchor: start;
        font-weight: bold;
        dominant-baseline: central;
        pointer-events: none;
        fill: white;
        // text-anchor: middle;
    }
}