<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Add Staff Member</title>
</head>
<body class="boss3-body">

  <header class="boss3-header">
    <div class="boss3-main-menu">
      <a href="" class="boss3-main-menu__logo-button">BOSS</a>
      <ul class="boss3-main-menu__buttons boss3-main-menu__buttons_type_primary">
        <li class="boss3-main-menu__button boss3-main-menu__button_state_active"><a class="boss3-main-menu__button-link" href="">Staff Members</a></li>
        <li class="boss3-main-menu__button"><a class="boss3-main-menu__button-link" href="">Rota</a></li>
        <li class="boss3-main-menu__button"><a class="boss3-main-menu__button-link" href="">Holidays</a></li>
        <li class="boss3-main-menu__button"><a class="boss3-main-menu__button-link" href="">Security Rota</a></li>
        <li class="boss3-main-menu__button"><a class="boss3-main-menu__button-link" href="">Change Orders</a></li>
        <li class="boss3-main-menu__button"><a class="boss3-main-menu__button-link" href="">Fruit Orders</a></li>
        <li class="boss3-main-menu__button boss3-main-menu__button_type_dropdown"><a class="boss3-main-menu__button-link" href="">Hours Confirmation</a></li>
        <li class="boss3-main-menu__button"><a class="boss3-main-menu__button-link" href="">Safe Checks</a></li>
        <li class="boss3-main-menu__button boss3-main-menu__button_type_dropdown">
          <a class="boss3-main-menu__button-link" href="">Reports</a>
          <div class="boss3-main-menu__dropdown-list">
            <div class="boss3-main-menu__dropdown-list-item">Daily Reports</div>
            <div class="boss3-main-menu__dropdown-list-item">Weekly Reports</div>
            <div class="boss3-main-menu__dropdown-list-item">Payroll Reports</div>
          </div>
        </li>
      </ul>
      <ul class="boss3-main-menu__buttons boss3-main-menu__buttons_type_secondary">
        <li class="boss3-main-menu__button boss3-main-menu__button_type_dropdown"><a class="boss3-main-menu__button-link" href="">Admin</a></li>
        <li class="boss3-main-menu__button boss3-main-menu__button_type_initials"><a class="boss3-main-menu__button-link_type_initials" href="">JS</a></li>
        <li class="boss3-main-menu__button boss3-main-menu__button_type_dropdown boss3-main-menu__button_role_user-login"><a class="boss3-main-menu__button-link" href="">Reports</a></li>
      </ul>
    </div>
  </header>

  <main class="boss3-page-body" id="root">
  </main>

</body>
</html>
