<h1>Weekly Reports</h1>

<%= render partial: 'shared/finance_report', locals: {
      filter_form_path: weekly_reports_path,
      venue: venue,
      week: week,
      accessible_venues: accessible_venues,
      reports_by_staff_type: reports_by_staff_type,
      display_totals: false,
      display_manager_actions: false
    } %>
