<h1>Weekly Reports</h1>

<%= render partial: 'shared/finance_report', locals: {
      filter_form_path: weekly_reports_path,
      pay_rate_filter_path_helper: method(:weekly_reports_path),
      venue: venue,
      week: week,
      pay_rate_filtering: pay_rate_filtering,
      accessible_venues: accessible_venues,
      reports_by_staff_type: reports_by_staff_type,
      display_totals: false,
      display_pay_rate_type: true,
      display_manager_actions: false
    } %>
