<h1>Edit Pay Rate</h1>

<%= render(
      partial: 'shared/named_pay_rate_form',
      locals: {
        pay_rate_type: pay_rate.pay_rate_type,
        pay_rate: pay_rate,
        path: pay_rate_path(pay_rate)
      }
    ) %>
