@import "../../mixins";

.staff-list-item {
    margin-top: 10px;
}
.staff-list-item__avatar {
    width: 100%;
}
.staff-list-item--clock-in-out {
    margin-top: 0px;
    padding: 5px;
    border-bottom: 1px solid #eee;
}
.staff-list-item--clock-in-out__name {
    font-size: 20px;
    font-weight: bold;
    @include breakpoint(sm) {
        display: inline-block;
    }
}
.staff-list-item--clock-in-out__status {
    @include breakpoint(sm) {
        clear: both;
    }
}
.staff-list-item--clock-in-out__manager-buttons {
    @include breakpoint(sm){
        float: right;
    }
}