<div class="create-staff-member-user-page">
  <h1>Create Staff Member</h1>

  <%= bootstrap_form_for(staff_member, url: create_staff_member_user_path(user), html: { multipart: true, class: 'create-staff-member-from-user-form' }) do |form| %>
    <div class="form-group">
      <label>Name</label>
      <div><%= user.full_name.titlecase %></div>
    </div>
    <div class="form-group">
      <label>Email Address</label>
      <div><%= user.email %></div>
    </div>
    <%= render(
          partial: 'shared/staff_member_form_fields',
          locals: {
            form: form,
            edit_name: false,
            edit_email: false
          }) %>
    <button type="submit" class="boss2-button">Submit</button>
  <% end %>
</div>
