<h1>Edit Owed Hours</h1>

<% if owed_hour.errors[:base].present? %>
  <div class="callout alert" role="alert">
    <%= owed_hour.errors[:base].to_sentence %>
  </div>
<% end %>

<%= bootstrap_form_for(owed_hour, url: owed_hour_path(id: owed_hour.id)) do |form| %>
  <%= render partial: 'shared/owed_hour_form_fields', locals: { form: form } %>
  <button type="submit" class="button">Edit</button>
<% end %>
