<div class="row">
  <div class="column small-6 large-12">
    <%= link_to('Edit', edit_change_order_path(change_order), class: 'boss-button boss-button_type_small boss-button_role_edit') %>
  </div>
</div>
