<% if owed_hour.errors[:base].present? %>
  <div class="alert alert-danger" role="alert">
    <%= owed_hour.errors[:base].to_sentence %>
  </div>
<% end %>

<%= bootstrap_form_for(owed_hour, url: staff_member_owed_hours_path(staff_member_id: staff_member.id)) do |form| %>
  <%= render partial: 'shared/owed_hour_form_fields', locals: { form: form } %>
  <button type="submit" class="button">
    <span class="fa fa-plus mr-base" aria-hidden="true"></span>Add
  </button>
<% end %>
