<div class="address-form">
  <%= form.text_area :address, label_class: "#{'force-not-required' unless required }" %>
  <%= form.text_field :postcode,  label_class: "#{'force-not-required' unless required }" %>
  <%= form.text_field :country,   label_class: "#{'force-not-required' unless required }" %>
  <%= form.text_field :county,    label_class: "#{'force-not-required' unless required }" %>
</div>
