<% if (owed_hour_form.errors || {})[:base].present? %>
  <div class="callout alert" role="alert">
    <%= owed_hour_form.errors[:base].to_sentence %>
  </div>
<% end %>

<%= bootstrap_form_for(owed_hour_form, url: staff_member_owed_hours_path(staff_member_id: staff_member.id)) do |form| %>
  <%= render partial: 'shared/owed_hour_form_fields', locals: { form: form } %>
  <button type="submit" class="boss3-button boss3-button_role_add">
    Add
  </button>
<% end %>
