<div class="boss-table__actions">
  <%= link_to('Edit', change_orders_path(venue_id: change_order.venue.id), class: 'boss-button boss-button_type_small boss-button_role_edit boss-table__action') %>
  <%= link_to('Accept', accept_change_order_report_path(change_order), class: 'boss-button boss-button_type_small boss-button_role_success boss-table__action', method: :put) %>
</div>
