<% if staff_member.enabled? %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <span>Add holiday</span>
    </div>
    <div class="panel-body">
      <%= render partial: 'shared/add_holiday_form', locals: { holiday: holiday, staff_member: staff_member } %>
    </div>
  </div>
<% end %>

<h2>Holidays</h2>
<% if staff_member.active_holidays.present? %>
  <% holidays_this_year = HolidayThisYearQuery.new(relation: staff_member.active_holidays).all.includes(:frozen_by) %>
  <% if holidays_this_year.present? %>
    <% paid_days = holidays_this_year.paid.to_a.sum { |holiday| holiday.days } %>
    <% unpaid_days = holidays_this_year.unpaid.to_a.sum { |holiday| holiday.days } %>
    <p><%= pluralize(paid_days, 'Paid day') %> this year</p>
    <p><%= pluralize(unpaid_days, 'Unpaid day') %> this year</p>
  <% end %>

  <%= render partial: 'shared/holidays_table', locals: { staff_member: staff_member, holidays: staff_member.active_holidays } %>
<% else %>
  <div>No holidays</div>
<% end %>
