.hours-chart .domain {
    display: none;
}

.hours-chart .axis .tick line {
    stroke: #ddd;
}

.hours-chart__interval {
    
}

.hours-chart__interval--hours {
    fill: green;
}

.hours-chart__interval--break {
    fill: orange
}