.hours-chart .domain {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.hours-chart .axis .tick line {
    stroke: #ddd;
}

.hours-chart__interval {
    
}

.hours-chart__interval--hours {
    fill: green;
}

.hours-chart__interval--break {
    fill: orange
}

.hours-chart__interval--incomplete {
    fill: green;
    opacity: .25;
}