<main role="main" class="boss2-page-content <%= content_for(:main_class) %>">
  <div class="boss2-page-content__inner-container test-welcome-div">
    <iframe id="forecast_embed" frameborder="0" height="245" width="100%" src="//forecast.io/embed/#lat=53.4035992&lon=-2.9821061&name=Central Liverpool"></iframe>
  </div>
</main>
