<main role="main" class="boss2-page-content <%= content_for(:main_class) %>">
  <div class="boss2-page-content__inner-container">
    <h1>Welcome <%= current_user.first_name %>!</h1>
  </div>
</main>
