@import 'settings';
@import 'mixins';

.boss2 {
  &-avatar-container {
    position: relative;
    border-radius: 50%;

    &:before {
      content: '';
      position: absolute;
      visibility: hidden;
      right: 0;
      top: -5px;
      width: 30px;
      height: 30px;
      z-index: 1;
      border: 6px solid white;
      border-radius: 50%;
    }

    &_role {
      &_clocked-out {
        &:before {
          visibility: visible;
          background-color: map-get($boss-sign-palette, clocked-out);
        }
      }
    }
  }

  &-avatar {
    $avatar-side-size: 120px;

    width: $avatar-side-size;
    height: $avatar-side-size;
    border-radius: 50%;
    max-width: inherit;

    &_type {
      &_small {
        $avatar-side-size: 40px;

        width: $avatar-side-size;
        height: $avatar-side-size;
      }
      &_big {
        $avatar-side-size: 150px;

        width: $avatar-side-size;
        height: $avatar-side-size;
      }
    }
  }
}