@import 'settings';
@import 'mixins';

.boss2-form {
  @include normalize-block();
}

.boss2-input {
  @at-root
  &[type=text],
  &[type=password],
  textarea#{&} {
    @include normalize-block();

    display: block;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid $boss-very-light-gray;
    padding: 13px 20px;
  }
}

select.boss2-input {
  margin-bottom: 0;
}

.boss2-label {
  display: block;

  & + & {
    margin-top: 20px;
  }
}

.boss2-label-text {
  display: block;
  margin-bottom: 8px;
}