@import 'settings';
@import 'mixins';

.boss-form {
  @include normalize-block();

  &_role {
    &_enter_key {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
  }

  &_adjust {
    &_boss3-fields-set {
      margin-top: 40px !important;
    }
  }
}

.boss-input {
  @at-root
  &[type=text],
  &[type=password],
  textarea#{&} {
    @include normalize-block();

    display: block;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid $boss-very-light-gray;
    padding: 13px 20px;

    &::placeholder {
      color: $boss-input-placeholder-color;
    }
  }

  select#{&} {
    margin-bottom: 0;
  }

  &_type {
    &_big {
      font-size: 2rem;
      padding: 0.1em;
    }
    &_filters-block {
      padding: 0.4em;
      color: $boss-medium-gray;
    }
    &_modal-window {
      color: $boss-light-gray;
      border: 2px solid $boss-light-gray;
      border-radius: $boss-global-border-radius;
      box-shadow: none;
    }
  }

  &_outlined {
    border: 1px solid $boss-light-gray;
  }

  &_role {
    &_search {
      padding-left: 1.7em;
      box-sizing: border-box;
      background: white asset-url("icon-lens-gray.svg") left center no-repeat;
      background-size: 0.9em;
    }
    &_key {
      [type=password]#{&} {
        padding-left: 1.4em;
        box-sizing: border-box;
        background: white asset-url("icon-key-dark-grey.svg") left center no-repeat;
        background-size: 0.9em;
        &.boss-input_type_big {
          background-position-x: 0.4em;
          background-size: 0.7em;
          padding-left: 1.4em;
        }
      }
    }
    &_add-note {
      padding: 0.5em;
    }
    &_pin {
      &[type='password'] {
        pointer-events: none;
        padding-left: 0;
        text-align: center;
        border-radius: 0;
        background-image: none;
        &.boss-input_type_big {
          padding: 0.15em 0.1em;
        }
      }
    }
  }

  &_state {
    &_error {
      &[type=text], &[type=password] {
        border-color: map-get($boss-app-palette, alert-border);
        color: map-get($boss-app-palette, alert);
      }

      .Select-control {
        border-color: map-get($boss-app-palette, alert-border);
      }
    }
  }
}

.boss-inputs-list {
  @include normalize-block();

  & > li {
    @include normalize-block();
  }
}
