@import 'settings';
@import 'mixins';

.boss-input-group {
  display: flex;

  &__input-container {
    flex-grow: 1;
  }

  &__button-container {
  }

  &_adjust {
    &_search-input {
      width: 100%;
    }
  }
}