@import 'settings';
@import 'mixins';

$input-selector: boss-input;
$big-selector: _big;
$type-selector: _type;

%input-rules {
  display: block;
  box-sizing: border-box;
  height: inherit;
  width: 100%;
  margin: 0;
  background-color: $boss-white;
  border-radius: $boss-input-radius;
  padding: 0.1em;
  box-shadow: none;
  border: none;
  color: $boss-medium-gray;
  font-size: 1rem;
  font-family: $boss-input-font-family;
  line-height: normal;
  -moz-appearance: none;
  -webkit-appearance: none;
}

input, select, textarea {
  &.#{$input-selector} {
    @extend %input-rules;

    &:focus {
      border: none;
      box-shadow: none;
    }

    &::placeholder {
      color: $boss-input-placeholder-color;
    }

    &[type='password'],
    &#{$type-selector}_key
    {
      padding-left: 1.4em;
      box-sizing: border-box;
      background: $boss-white asset-url("icon-key-dark-grey.svg") left center no-repeat;
      background-size: 0.9em;
      &.#{$input-selector}#{$big-selector} {
        background-position-x: 0.4em;
        background-size: 0.7em;
        padding-left: 1.4em;
      }
    }

    &#{$type-selector} {
      &_search {
        padding-left: 1.7em;
        box-sizing: border-box;
        background: $boss-white asset-url("icon-lens-gray.svg") left center no-repeat;
        background-size: 0.9em;
      }
      &_select {}
    }

    &_variant {
      &_filters-block {
        padding: 0.4em;
        color: $boss-medium-gray;
      }
    }

    &_outlined {
      border: 1px solid $boss-light-gray;
    }

    &#{$big-selector} {
      font-size: 2rem;
      padding: 0.1em;
    }

    &_role {
      &_in-modal-window {
        color: $boss-light-gray;
        border: 2px solid $boss-light-gray;
        border-radius: $boss-global-border-radius;
        box-shadow: none;
      }
      &_add-note {
        padding: 0.5em;
      }
      &_pin {
        &[type='password'] {
          pointer-events: none;
          padding-left: 0;
          text-align: center;
          border-radius: 0;
          background-image: none;
          &.#{$input-selector}#{$big-selector} {
            padding: 0.15em 0.1em;
          }
        }
      }
    }
  }
}

select.#{$input-selector} {
  background: asset-url("icon-down-arrow-medium-gray.svg") center right no-repeat;
  background-size: 0.5em;
}
