@import 'settings';

@mixin normalize-block() {
  border-collapse: separate;
  border-spacing: 0;
  color: $boss-body-font-color;
  cursor: auto;
  empty-cells: show;
  font-family: $boss-body-font-family;
  font-size: $boss-global-font-size;
  font-style: normal;
  font-variant: normal;
  font-weight: $boss-global-weight-normal;
  letter-spacing: normal;
  line-height: $boss-global-line-height;
  text-align: left;
  text-indent: 0;
  text-transform: none;
  white-space: normal;
  word-spacing: normal;
}

@mixin link-to-button($color) {
  color: $color;
  text-decoration: none;
  &:hover {
    color: $color;
  }
}

@mixin button-hover-behavior($background-color) {
  cursor: pointer;
  transition: background-color 0.2s;
  animation-timing-function: ease-in-out;
  &:hover {
    background-color: darken( $background-color, 5% );
  }
}
