@import 'settings';
@import 'mixins';

.boss-react-select {
  $close-button-width: 2em;
  $content-side-padding: 0.8em;

  @include normalize-block();

  & .Select-control {
    //height: 17px;
    //line-height: 12px;
    border: none;
  }

  & .Select-placeholder {
    //line-height: 17px;
  }

  & .Select-input {
    //height: 17px;
    //line-height: 12px;
  }

  & .Select-arrow-zone {
    //line-height: 12px;
  }

  & .Select-item {
    position: relative;
    background-color: transparent;
    border: none;
    font-size: 0.7rem;
  }

  & .Select-item-icon {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    width: $close-button-width;
    padding: 0;
    border: none;
    text-indent: 10em;
    overflow: hidden;

    &:hover {
      background-color: rgba(0, 0, 0, 0.05);
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.1) asset-url("icon-close-black-small.svg") center center no-repeat;
      background-size: 0.9em;
      opacity: 0.25;
    }
  }

  & .Select-item-label {
    padding: 0;
    border: none;

    &__content {
      padding: 0.4em ($close-button-width + $content-side-padding) 0.4em $content-side-padding;
      color: #fff;
      text-transform: uppercase;
      font-weight: 700;
      border-radius: 5px;

      &_role {
        &_manager {
          background-color: map-get($boss-roles-palette, manager);
        }
        &_gm {
          background-color: map-get($boss-roles-palette, gm);
        }
        &_bar-supervisor {
          background-color: map-get($boss-roles-palette, bar-supervisor);
        }
        &_bartender {
          background-color: map-get($boss-roles-palette, bartender);
        }
        &_floor-staff {
          background-color: map-get($boss-roles-palette, floor-staff);
        }
        &_waitress {
          background-color: map-get($boss-roles-palette, waitress);
        }
        &_kp {
          background-color: map-get($boss-roles-palette, kp);
        }
        &_hostess {
          background-color: map-get($boss-roles-palette, hostess);
        }
        &_chef {
          background-color: map-get($boss-roles-palette, chef);
        }
        &_security {
          background-color: map-get($boss-roles-palette, security);
        }
        &_pr {
          background-color: map-get($boss-roles-palette, pr);
        }
        &_bar-back {
          background-color: map-get($boss-roles-palette, bar-back);
        }
      }
    }
  }

  &__dropdown-option {
    &_role {
      &_manager {
        background-color: map-get($boss-roles-palette, manager);
      }
      &_gm {
        background-color: map-get($boss-roles-palette, gm);
      }
      &_bar-supervisor {
        background-color: map-get($boss-roles-palette, bar-supervisor);
      }
      &_bartender {
        background-color: map-get($boss-roles-palette, bartender);
      }
      &_floor-staff {
        background-color: map-get($boss-roles-palette, floor-staff);
      }
      &_waitress {
        background-color: map-get($boss-roles-palette, waitress);
      }
      &_kp {
        background-color: map-get($boss-roles-palette, kp);
      }
      &_hostess {
        background-color: map-get($boss-roles-palette, hostess);
      }
      &_chef {
        background-color: map-get($boss-roles-palette, chef);
      }
      &_security {
        background-color: map-get($boss-roles-palette, security);
      }
      &_pr {
        background-color: map-get($boss-roles-palette, pr);
      }
      &_bar-back {
        background-color: map-get($boss-roles-palette, bar-back);
      }
    }
  }

}