@import 'fonts';

$boss-global-font-size: 100%;
$boss-global-line-height: 1.5;
$boss-global-border-radius: 5px;
$boss-app-palette: (
        primary: #84bef0,
        secondary: #8e8e8e,
        third: #f0849c,
        fourth: #8ed168,
        success: #3adb76,
        warning: #ffae00,
        alert: #ec5840
);
$boss-roles-palette: (
  manager: #f0af85,
  gm: #c1c1c1,
  bar-supervisor: #84bef0,
  bartender: #74dc61,
  floor-staff: #f3a84d,
  waitress: #db8ef8,
  kp: #86a9df,
  hostess: #ec6a6a,
  chef: #a9815d,
  security: #84daf1,
  pr: #d2d540,
  bar-back: #1f1f1f
);
$boss-sign-palette: (
  clocked-out: #8e8e8e,
  clocked-in: #74df77,
  break: #eebb4e
);
$boss-extra-light-gray: #f0f0f0;
$boss-very-light-gray: #d8d8d8;
$boss-light-gray: #aaaaaa;
$boss-medium-gray: #808080;
$boss-dark-gray: #4c4c4c;
$boss-black: #000;
$boss-white: #fff;
$boss-body-background: #d8e5eb;
$boss-body-background-manager: #ffd9ac;
$boss-body-font-color: $boss-dark-gray;
$boss-body-font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
/// Set to `true` to enable antialiased type, using the `-webkit-font-smoothing` and `-moz-osx-font-smoothing` CSS properties.
$boss-body-antialiased: true !default;
$boss-global-weight-normal: 400;
$boss-global-weight-bold: bold;
$boss-max-page-width: 1200px;
$boss-input-placeholder-color: $boss-very-light-gray;
$boss-input-font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
//$input-color: $boss-medium-gray;
$boss-input-radius: 2px;
$main-content-margin-top: 3.7rem;
