<html>
  <head>
    <%= stylesheet_link_tag "privacy-policy-styles" %>
  </head>
  <body>
    <div id="privacy-policy-page">
      <header>
        <h1>NSecuity App Privacy Policy</h1>
      </header>

      <article>
      <section>
        <h2 id="personal-info">Personal info</h2>
        <p>We store basic personal information about you like name and email address and what information is required to allow logging in via facebook.</p>
      </section>

      <section>
        <h2 id="collection">How we collect info</h2>
        <p>The only information collected about you by this application would be personal information you provide or usage information passively collected by our servers like logs of access.
        <h2 id="collection_tracking">Tracking technologies</h2>
        <p>We use special tokens like cookies to maintain your session between visits. We may keep track of the hardware used to accesses the site for the pupose of identifying you as the person accessing. We don't use the information you provided to track you outside of the app.</p>
      </section>

      <section>
        <h2 id="use">How we use your info</h2>
        <p>The information collected is used to maintain a basic user account in the app and to allow you to log in and use it.</p>
      </section>

      <section>
        <h2 id="disclosure">When we share your info</h2>
        <p>We do not share your information with any 3rd parties</p>
      </section>

      <section id="storage">
        <h2 id="storage_location">Where your info lives</h2>
        <p>Your information is stored in a secured database on the cloud</p>
        <h2 id="storage_duration">How long we keep your info</h2>
        <p>The information we store about you is stored indefinetely to allow us to reativate your account in the future.</p>
      </section>

        <section id="misc">
          <h2 id="misc_contact">Contact us</h2>
          <p>If you have any questions about the way we handle your data you can contact us at sina@jsmbars.co.uk</p>
        </section>
      </article>
    </div>
  </body>
</html>
