.rota-forecast {
  &__update {
    min-width: 45px !important;
  }
  &__header-row {
    padding-bottom: 10px;
  }
  &__body .row {
    &:first-child, &:last-child {
      border-top: 2px solid black;
    }
    &:nth-child(odd) {
      background: #fafafa;
    }
  }
  .row {
    padding-top: 4px;
    padding-bottom: 4px;
  }
}
