<h1>API Keys</h1>

<table
  class="tablesaw tablesaw-stack"
  data-tablesaw-mode="stack"
>
  <thead>
    <tr>
      <th>Venue</th>
      <th>Key</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% venue_keys.each do |venue, key| %>
      <tr>
        <td><%= venue.name %></td>
        <td>
          <% if key.present? %>
            <%= key.key.upcase %>
          <% else %>
            N / A
          <% end %>
        </td>
        <td>
          <% if key.present? %>
            <%= link_to(api_key_path(key), class: 'boss3-button boss3-button_type_small boss3-button_role_delete', method: 'DELETE') do %>
              Revoke
            <% end %>
          <% else %>
            <%= link_to(api_keys_path(venue_id: venue.id), class: 'boss3-button boss3-button_role_add boss3-button_type_small', method: 'POST') do %>
              Generate
            <% end %>
          <% end %>
        </td>
    </tr>
    <% end %>
  </tbody>
</table>
