<% content_for(:main_class, 'wide') %>

<h1>Finance Reports</h1>

<%= render partial: 'shared/finance_report', locals: {
      filter_form_path: finance_reports_path,
      pay_rate_filter_path_helper: method(:finance_reports_path),
      venue: venue,
      week: week,
      pay_rate_filtering: pay_rate_filtering,
      accessible_venues: accessible_venues,
      finance_reports_table: finance_reports_table,
      display_totals: true,
      display_pay_rate_type: false,
      display_manager_actions: true
    } %>
