<h1>Finance Reports</h1>

<%= render partial: 'shared/finance_report', locals: {
      filter_form_path: finance_reports_path,
      venue: venue,
      week: week,
      accessible_venues: accessible_venues,
      reports_by_staff_type: reports_by_staff_type,
      display_totals: true,
      display_manager_actions: true
    } %>
