<p>Dear <%= first_name %>,</p>

<p>You are Invited to PUB INVEST GROUP’s annual Awards Night Hosted at Fusion on Fleet Street.</p>

<p>WEDNESDAY 2nd JANUARY</p>

<p>DOORS OPEN 7PM - LAST ENTRY 8PM</p>

<p>DRESS TO IMPRESS</p>

<p>In order to enter the venue simply scan the QR code below</p>

<img alt="qr code" src="<%= qr_code_data_url %>" />
