
.chart-selection-view__selected-shift-editor {
    position: absolute;
    width: 100%;
}
.chart-selection-view__preview-shift-editor {
    width: 100%;
    opacity: .7;
}
.chart-selection-view__clear-button {
    float: right;
    background: black;
    padding: 5px;
    color: white;
    border-radius: 100px;
    font-size: 10px;
    cursor:pointer;
    &:hover {
        background: #777;
    }
}