.staff-type-dropdown > div > div > .Select-menu {
    max-height: 400px;
}

.staff-type-dropdown__item {
    position: relative;
}

.staff-type-dropdown__item-content {
    position: absolute;
    color: white;
    &:hover {
        text-decoration: underline;
    }
    .staff-type-dropdown__item--value & {
        top: -3px;
        bottom: -3px;
        left: -6px;
        line-height: 24px;
        padding-left: 5px;
        width: calc(100% + 3px + 3px + 6px);
    }
    .staff-type-dropdown__item--option & {
        top: -8px;
        bottom: -8px;
        left: -10px;
        line-height: 36px;
        padding-left: 10px;
        width: calc(100% + 8px + 8px + 10px - 6px);
    }
}
