/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require chosen
 *= require jquery-ui
 *= require spectrum
 *= require_tree .
 *= require_self
 */

 @import "foundation_and_overrides";
 @import "tablesaw";
 @import "jquery-ui/jquery-ui";
 @import "jquery-ui/flat.datepicker";
 @import "../../../node_modules/react-select/dist/react-select";
 @import "../../../node_modules/cropperjs/dist/cropper";
 @import "../../../node_modules/nvd3/build/nv.d3";

 @import "components/rota-overview-chart";

 @import "font-awesome-sprockets";
 @import "font-awesome";

.main {
  padding-top: $spacing-md;
  padding-bottom: $spacing-md;
  &.wide {
    max-width: $global-width-increased;
  }
}

.avatar {
  max-width: 150px;
  max-height: 150px;
  height: auto;
  width: auto;
}

.page-header {
  line-height: 1;
}

.rota-overview-chart {
  min-width: 700px;
}

label:not(.force-not-required).required:after {
  content:" *";
}

.show-page-detail-heading {
  font-weight: bold;
}

.avatar-image_medium {
  width: 150px;
  height: 150px;
}

.staff-member-page-staff-image {
    position: relative;
    a {
        position: absolute;
        right: 5px;
        top: 5px;
    }
}

.link-unstyled {
  color: inherit;
  text-decoration: inherit;
}

.link-unstyled:link {
  color: inherit;
  text-decoration: inherit;
}

.link-unstyled:hover {
  color: inherit;
  text-decoration: inherit;
}

.dt-horizontal__wrap-headings dt {
  white-space: normal;
}

.Select-control {
  min-width: 200px;
}
