<h1>Edit Old Hours</h1>

<% if old_hour.errors[:base].present? %>
  <div class="alert alert-danger" role="alert">
    <%= old_hour.errors[:base].to_sentence %>
  </div>
<% end %>

<%= bootstrap_form_for(old_hour, url: old_hour_path(id: old_hour.id)) do |form| %>
  <%= render partial: 'shared/old_hour_form_fields', locals: { form: form } %>
  <button type="submit" class="btn btn-default">Edit</button>
<% end %>
