.chart-and-filter__shift-editor-container {
    margin-top: 20px;
    position: relative;
}
.chart-and-filter__selected-shift-editor {
    position: absolute;
    width: 100%;
}
.chart-and-filter__preview-shift-editor {
    opacity: .7;
}