<h1>Add Admin Pay Rate</h1>

<%= render(
      partial: 'shared/named_pay_rate_form',
      locals: {
        pay_rate_type: 'Admin',
        pay_rate: pay_rate,
        path: create_admin_pay_rates_path
      }
    ) %>
