<div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="small">
  <button class="menu-icon" type="boss2-button" data-toggle></button>
  <div class="title-bar-title">Menu</div>
</div>
