<div class="boss-alert boss-alert_role_page-note" style="display: none;">
    <p class="boss-alert__text">Review Mode</p>
    <a href="#" class="boss-alert__button-close"></a>
</div>

<%= render 'layouts/messages' %>
  <main class="boss-page-main">
    <%= yield %>
  </main>
<%= insert_paloma_hook %>
